In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv', encoding="ISO-8859-1")

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df.Category.unique()

array(['ham', 'spam'], dtype=object)

In [5]:
df['spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0)

In [6]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size=0.2,random_state=42)

In [17]:
len(X_train)

4457

In [16]:
len(X_test)

1115

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
cv_messages = v.fit_transform(X_train.values)
cv_messages.toarray()[0:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [22]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [23]:
model.fit(cv_messages,y_train)

MultinomialNB()

In [36]:
email = ['upto 30% discount, exclusive offer for you','kkk, &&, kksjrjeiUrgent offer will expire soon']
email_count = v.transform(email)
model.predict(email_count)

array([1, 0], dtype=int64)

In [30]:
x_test_count = v.transform(X_test)
model.score(x_test_count,y_test)

0.9928251121076234

# sklearn pipeline

In [38]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorize',CountVectorizer()),
    ('nb',MultinomialNB())
])
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorize', CountVectorizer()), ('nb', MultinomialNB())])

In [39]:
email = ['upto 30% discount, exclusive offer for you','kkk, &&, kksjrjeiUrgent offer will expire soon']
clf.predict(email)

array([1, 0], dtype=int64)

In [40]:
clf.score(X_test,y_test)

0.9928251121076234

In [41]:
import joblib
joblib.dump(clf,'spam_model.pkl')

['spam_model.pkl']